@model int

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game @Model</h2>

<div class="row">
    
    <div class="col-xs-12">
        
        

    </div>

</div>

@section scripts {
    <script src="/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script type="text/javascript">

        var antsHub = $.connection.antsHub;

        antsHub.client.update = function(game) {
            console.log("Received game update", game);
        };

        $.connection.hub.start().done(function() {
            console.log("Connected to AntsHub");

            // subscribe to game updates
            antsHub.server.listen(@Model);

            console.log("Listening to game", @Model);
        });
        


    </script>

}