@model int

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game @Model</h2>

<div class="row">
    
    <div class="col-md-2">
        
        <ul id="players"></ul>

        <dl>                       
            <dt>Status</dt>
            <dd id="status">Unknown</dd>
        </dl>

    </div>

    <div class="col-md-10">
        
        <table id="board">
            
        </table>

    </div>

</div>

@section scripts {
    <script src="/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script type="text/javascript">

        var antsHub = $.connection.antsHub;
        var initialized = false;

        antsHub.client.update = function(game) {
            console.log("Received game update", game);

            if (!initialized) {
                initialized = true;

                var width = game.Board.Width;
                var height = game.Board.Height;
                var col, row, $row;

                for (row = 0; row < height; row++) {
                    $row = $("<tr></tr>");

                    for (col = 0; col < width; col++) {
                        $row.append("<td></td>");
                    }
                    $("#board").append($row);
                }

                game.Players.forEach(function(player, idx) {
                    $("#players").append("<li id='player-" + idx + "'><span class='ant-progress'></span>" + player + "<span class='ants' id='player-" + idx + "-ants'>0</span></li>");
                });
            }
            
            $("#status").text(game.Status || "Unknown");

            // update players
            game.Players.forEach(function(player, idx) {
                var ants = game.Board.Ants.filter(function(ant) { return ant.Owner === player; });

                $("#player-" + idx + "-ants").text(ants.length);
                $("#player-" + idx).find(".ant-progress").css({ width: ((ants.length / game.Board.Ants.length) * 100).toString() + "%" });
            });

            // update cells
            game.Board.Cells.forEach(function(cell) {
                var $td = $("#board tr").eq(cell.Y).find("td").eq(cell.X);
                $td.prop("class", "");

                if (!cell.Ant) {
                    switch (cell.Type) {
                    case "Space":
                        $td.addClass("space");
                        break;
                    case "Wall":
                        $td.addClass("wall");
                        break;
                    case "Food":
                        $td.addClass("food");
                        break;
                    case "Hill":
                        $td.addClass("hill");
                        break;
                    }
                } else {
                    $td.addClass("ant player-" + game.Players.indexOf(cell.Ant.Owner));
                }
            });
        };

        $.connection.hub.start().done(function() {
            console.log("Connected to AntsHub");

            // subscribe to game updates
            antsHub.server.listen(@Model);

            console.log("Listening to game", @Model);
        });


    </script>

}