<div class="row">
    
    <div>
        
        <div id="no-games" class="alert alert-warning">No games yet, plz make some...</div>

        <ul id="games">
            
        </ul>
        
        
    </div>

</div>

@section scripts {
    
    <script type="text/javascript">

        var refreshGames = function() {
            $.getJSON("/api/game").then(function (games) {

                if (games.length) {
                    $("#no-games").hide();
                } else {
                    $("#no-games").show();
                }

                $.each(games, function(game) {

                    // clear
                    $("#games").empty();

                    // build link
                    var $li = $("li");
                    var $link = $("a");
                    $link.attr("href", "/game/" + game.Id);
                    $li.append($link);

                    $("#games").append($li);
                });
            });
        };

        $(function() {

            refreshGames();
            setInterval(refreshGames, 2000);

        });

    </script>

}