<h2 class="page-header">Active Games</h2>

<div class="row">
    
    <div class="col-xs-12">
        
        <div id="no-games" class="alert alert-warning">No games yet, plz make some...</div>

        <ul id="games">
            
        </ul>
        
        
    </div>

</div>

@section scripts {
    
    <script type="text/javascript">

        var refreshGames = function() {
            $.getJSON("/api/game").then(function (games) {

                if (games.length) {
                    $("#no-games").hide();
                } else {
                    $("#no-games").show();
                }
                // clear
                $("#games").empty();
                games.forEach(function(game) {

                    // build link
                    var $li = $("<li>");
                    var $link = $("<a>");
                    $link.attr("href", "/home/game/" + game.Id);
                    $link.text("Game " + game.Id);
                    $li.append($link);

                    $("#games").append($li);
                });
            });
        };

        $(function() {

            refreshGames();
            setInterval(refreshGames, 2000);

        });

    </script>

}