body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/******* Players ********/
#players {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#players li {
    width: 90%;
    height: 25px;
    color: black;
    font-size: 1em;
    position: relative;
    border: 1px solid black;
    margin-bottom: 0.5em;
    padding: 3px;
}

#players li .ants {
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.5em;
    float: right;
}

#players .ant-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#players #player-0 { border-color: red; }
#players #player-1 { border-color: blue; }
#players #player-0 .ant-progress { background: red; }
#players #player-1 .ant-progress { background: blue; }

/******* Board **********/
#board {
    border: 3px solid black;
}

#board td {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

#board td.player-0 {
    background: red;
}

#board td.player-1 {
    background: blue;
}

#board td.ant {
    border-width: 2px;
}

#board td.wall {
    background: black;
}

#board td.hill {
    background: pink;
}

#board td.space {
    background: white;
}

#board td.food {
    background: green;
}